{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Post {% endblock %}</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title"
               placeholder="Post title" class="form-control"
               value="{{ request.form['title'] }}"></input>
    </div>
    <!-- <div class="form-group">
        <label for="author">Author</label>
        <input type="text" name="author"
               placeholder="Post author" class="form-control"
               value="{{ request.form['author'] }}"></input>
    </div> -->
    <div class="form-group">
        <label for="title">Upload</label> <br>
        <input type="file" name="pic" />
        <!-- <input type="submit" value="Upload a file"/> -->
    </div>

    <div class="form-group">
        <label for="caption">Caption</label>
        <textarea name="caption" placeholder="Post caption"
                  class="form-control">{{ request.form['caption'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    {% if filename %}
    <div>
        <img src="{{ url_for('display_image', filename=filename) }}">
    </div>
    {% endif %}
</form>
{% endblock %}